/* This serves as an example env file /
/ To activate it, remove the .sample extension and delete all comments within the file. */

MONGO_USERNAME=root
MONGO_PASSWORD=password
MONGO_DB_NAME=campus_hub
MONGO_URL=mongo:27017
CORS_ORIGIN=client:3000