/* This is a sample env file */
/* To use it remove `.sample` from the extension 
   all the comment this file has. */

MONGO_USERNAME=root
MONGO_PASSWORD=password
MONGO_DB_NAME=campus_hub
MONGO_URL=mongo:27017