/* This serves as an example env file /
/ To activate it, remove the .sample extension and delete all comments within the file. */

MONGO_USERNAME=campushub
MONGO_PASSWORD=password
MONGO_DB_NAME=campus_hub
MONGO_URL=<YOUR_MONGO_URL>
RAZORPAY_ID=<YOUR_RAZORPAY_ID>
RAZORPAY_SECRET=<YOUR_RAZORPAY_SECRET>